@{
    ViewData["Title"] = "Component Playground";
}

<div class="container-fluid p-0">
    <!-- React Component Playground Root -->
    <div id="react-playground-root"></div>
</div>

@section Scripts {
    <!-- Component Playground Bundle -->
    <script src="~/js/dist/playground.bundle.js"></script>
}
